<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomAnimatedButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A89B00B1F1079DE00AE158E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A89B0241F1079DE00AE158E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A89B02F1F1079DF00AE158E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
